:root{
    --primary:#7C6CF2;
    --primary-light:#f2efff;
    --dark:#1f2a56;
    --text:#555;
    --white:#ffffff;
    --shadow:0 10px 30px rgba(0,0,0,0.08);
}

body{
    font-family:'poppins',sans-serif;
    background:#fafaff;
    color:var(--dark);
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
    background:white;
    box-shadow:var(--shadow);
    position:sticky;
    top:0;
    z-index:1000;
}
.logo{
    font-size:28px;
    font-weight: 700;
    color:var(--primary);
}
nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}
nav a{
    text-decoration: none;
    color:var(--dark);
    font-weight: 500;
    transition: .3s;
}
nav a:hover{
    color:var(--primary)
}

nav button{
    background:var(--primary);
    color:white;
    border:none;
    padding:12px 25px;
    border-radius: 30px;
    cursor: pointer;
}
nav button:hover{
    transform: translate(-3px);
}

#hero{
    display: flex;
    justify-content: space-between;
    align-items:center;
    min-height:80vh;
    padding:0 80px;
}
.hero-text h1{
    font-size:65px;
    font-weight:700;
    color:var(--dark);
    margin-bottom:10px;
}
.hero-text h2{
    color:var(--primary);
    margin-bottom:20px;
}
.hero-text{
    width:55%;
}
.hero-text p{
    line-height:1.8;
    color:var(--text);
    margin-bottom:25px;
}
.hero-image{
    width:40%;
}
.hero-image img{
    width:100%;
}
.hero-buttons{

    display:flex;

    gap:20px;
}
.primary-btn{

    background:var(--primary);

    color:white;

    border:none;

    padding:14px 30px;

    border-radius:30px;

    cursor:pointer;
}
.secondary-btn{

    background:white;

    border:2px solid var(--primary);

    color:var(--primary);

    padding:14px 30px;

    border-radius:30px;

    cursor:pointer;
}

#about{
    display:flex;
    justify-content:space-between;
    gap: 50px;
    padding: 80px;
}
#about > div{
    flex:1;
}

#skills{
    padding:80px;
}
.skills-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
}
.skill-card{
    border:1px solid black;
    padding:20px;
}

.projects-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:30px;
}
.project-card{
    border:1px solid black;
    padding:25px;
}

#contact{
    padding: 80px;
}

section h2{
    margin-bottom:30px;
}

@media(max-width:768px){
    nav{
        flex-direction:column;
        gap:20px;
    }
}
@media(max-width:768px){
    #hero{
        flex-direction:column;
    }
}
@media(max-width:768px){
    #about{
        flex-direction:column;
    }
}
@media(max-width:768px){
    .skills-container{
        grid-template-columns: 1fr;
    }
}
@media(max-width:768px){
    #project-container{
        grid-template-columns: 1fr;
    }
}